{% include 'header.html' %}
<body>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 pt-5 fs-2 fw-bold">
                        <label for="longURL" class="Bold">Original</label>
                        <input type="url" class="form-control fs-5" id="longURL" placeholder="Place URL to short" pattern="https://">
            </div>
            <div class="col-md-6 pt-5 fs-2 fw-bold">
                    <label for="shortUrl">Shorten</label>
                    <input type="url" class="form-control fs-5" id="shortUrl" placeholder="always waiting">
            </div>
            </div>
        </div>
</body>
{% include 'footer.html'%}